.cdvy-ram-allocation-slider
  md-input-container
    padding-bottom 2px

  .slider-captions
    margin-bottom -20px

  .slider-actual-ram-caption
    color $che-medium-blue-color

  .slider-max-ram-caption
    color $clear-foggy-sky-color

  .slider-holder
    padding 0 10px

    md-slider .md-track-ticks, md-slider .md-sign
      display none
