<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<cdvy-toolbar cdvy-title="New Workspace"></cdvy-toolbar>

<md-content md-scroll-y flex md-theme="maincontent-theme">
  <ng-form name="workspaceInformationForm">
    <cdvy-panel cdvy-title="Information">
      <cdvy-input cdvy-form="workspaceInformationForm"
                  cdvy-name="name"
                  cdvy-label-name="Name"
                  cdvy-place-holder="Name of the workspace"
                  ng-model="createWorkspaceCtrl.workspace.name"
                  required
                  ng-minlength="3"
                  ng-maxlength="20"
                  ng-pattern="/^[A-Za-z0-9_\-\.]+$/">
        <div ng-message="required">A name is required.</div>
        <div ng-message="pattern">Workspace name may contain digits, latin letters, _ , . , - and should start only with digits, latin letters or underscores</div>
        <div ng-message="minlength">The name has to be more then 3 characters long.</div>
        <div ng-message="maxlength">The name has to be less than 20 characters long.</div>
      </cdvy-input>
      <cdvy-workspace-ram-allocation-slider ng-model="createWorkspaceCtrl.workspace.ram"></cdvy-workspace-ram-allocation-slider>


        <div layout="column">
            <md-card ng-repeat="recipe in createWorkspaceCtrl.recipes"
                     ng-class="$first ? 'create-project-stack-selected' : 'create-project-stack-default'"
                     ng-click="createWorkspaceCtrl.selectRecipe(recipe)">
                <md-card-content>{{recipe.name}}</md-card-content></md-card>
        </div>

    </cdvy-panel>
  </ng-form>

  <cdvy-button-primary id="create-project-button-import"
                       cdvy-button-title="Create Workspace"
                       ng-click="createWorkspaceCtrl.createWorkspace()"
                       ng-disabled="workspaceInformationForm.$invalid">
  </cdvy-button-primary>

</md-content>

