.cdvy-panel
  margin-left 24px
  margin-top 32px
  margin-bottom 10px
  margin-right 24px
  background-color $background-color
  box-shadow-bigger()
  position: relative

.cdvy-panel .cdvy-panel-title
  color $default-dark-color
  margin-left 24px
  margin-top 20px
  margin-bottom 20px
  font-size 24px

.cdvy-panel-title
  outline 0
  cursor pointer

.cdvy-panel .cdvy-panel-title-icon
  margin-right 10px

.cdvy-panel .cdvy-panel-titlebox i
  cursor pointer
  font-size 30px
  margin-top 0px
  margin-right 10px
  outline 0

.cdvy-panel .cdvy-panel-titlebox .cdvy-panel-title-tooltip-icon
  font-size 13px
  margin-left 7px
  margin-top 7px
  color $disabled-color

.cdvy-panel-glass
  background-color: #CCCCCC
  opacity: 0.8
  top: 0
  bottom :0
  left: 0
  right: 0
  position: absolute

md-card-content.cdvy-panel-content
  padding-top 0px
  padding-left 24px
  padding-bottom 25px
  padding-right 24px
