.create-project-stack-selector .create-project-stack-selected
  box-shadow 0px 3px 1px -2px rgba(0, 0, 200, 0.14), 0px 2px 2px 0px rgba(0, 0, 200, 0.098), 0px 1px 5px 0px rgba(0, 0, 200, 0.084);
  color $primary-color

.workspace-ready-to-go-info
  color $label-info-color
  margin-bottom 10px
