.workspaces-list-header
  flex-wrap wrap

.workspace-list-content
  padding 15px

.workspace-list-content .workspace-empty-list
  overflow visible
  min-height calc(100vh - 246px)

.workspace-list-title md-icon
  font-size 24px
  height auto
  width auto
  color $label-info-color
  line-height 24px

md-progress-linear.workspaces-list-progress
  height 10px

.workspace-list-title
  margin-left 12px

.workspace-list-empty
  font-size 12px

.workspace-resources-locked
  background-color red

.cdvy-list cdvy-workspace-item:not(:last-of-type) .cdvy-list-item
  border-bottom 1px solid $list-separator-color
