.cdvy-text-info
  width 100%

.cdvy-text-info-mobile,
.cdvy-text-info-desktop
  margin-bottom 25px

.cdvy-text-info-mobile > div
  color $label-secondary-color

.cdvy-text-info-mobile span,
.cdvy-text-info-desktop span
  display inline-block
  width 100%
  padding-bottom 5px
  border-width 0 0 1px 0
  border-bottom-style solid
  border-color $default-border-color

.cdvy-text-info-mobile span label,
.cdvy-text-info-desktop span label
  margin-bottom 0

.cdvy-text-info-mobile .cdvy-text-info-copy-clipboard,
.cdvy-text-info-desktop .cdvy-text-info-copy-clipboard
  width calc(100% - 35px)

.cdvy-text-info-mobile
  margin-left 0
  width 100%

.cdvy-text-info .copy-clipboard
  float right
  font-size 18px
  margin-left 2px
  color $disabled-color

.cdvy-text-info-desktop > label
  white-space nowrap

.cdvy-text-info-subline .cdvy-text-info-desktop 
  margin-left 15%
  width 85%