.cdvy-select .cdvy-select-container
  outline none
  border none
  border-bottom 1px solid $default-border-color

.cdvy-select md-input-container .cdvy-select-container
  border-bottom 1px solid $default-border-color
  margin-left -4px
  width calc(100% + 4px)

.cdvy-select .cdvy-select-desktop .cdvy-select-container
  position relative
  min-height 20px

.cdvy-select md-input-container
  margin-top 30px

.cdvy-select md-input-container label
  margin-top -47px

.cdvy-select select
  background inherit
  outline none

.cdvy-select .cdvy-select-desktop select
  position absolute
  z-index 1000

.cdvy-select .cdvy-select-desktop select:not(.cdvy-select-border)
  margin-left -4px
  width calc(100% + 4px)
  border none

.cdvy-select .cdvy-select-desktop .cdvy-select-border
  background $white-color
  border-style solid
  border-width 1.5px
  border-color $primary-color

.cdvy-select .cdvy-select-desktop select.cdvy-select-border
  width 100%

.cdvy-select select.disabled
  color $disabled-color

.cdvy-select select option:first-child
  display none

.cdvy-select select.disabled option:not(:first-child)
  color $label-primary-color

.cdvy-select-desktop select:focus
  border-color $primary-color

.cdvy-select-desktop
  margin-top 5px
  margin-bottom 20px

.cdvy-select-overflow-hidden
  overflow hidden
