<md-list-item id="navbar-list-item-ide"flex class="navbar-subsection-item" ng-show="ideListItemNavbarCtrl.isIDEAvailable()">
    <md-button nav-bar-selected flex ng-href="" ng-click="ideListItemNavbarCtrl.displayIDE()" layout-align="left">
        <div class="navbar-item" layout="row" layout-align="start center">
            <i class="fa fa-chevron-circle-right icon">&nbsp;</i>
            <span>Back to IDE</span>
        </div>
    </md-button>
</md-list-item>
