.factory-from-workspace cdvy-search
  color $label-primary-color

.factory-from-workspace cdvy-search .search-component
  margin-top 20px
  border-bottom 1px solid $disabled-color


.factory-from-workspace cdvy-search .search-input
  color $label-primary-color

.factory-from-workspace cdvy-search md-icon
  font-size 16px

.factory-from-workspace cdvy-search .search-input::-webkit-input-placeholder
  color $label-primary-color
  font-style italic
  font-size 16px
  opacity 0.5

.factory-from-workspace cdvy-search .search-input:-moz-placeholder
  /* Mozilla Firefox 4 to 18 */
  color $label-primary-color
  font-style italic
  font-size 16px
  opacity 0.5

.factory-from-workspace cdvy-search .search-input::-moz-placeholder
  /* Mozilla Firefox 19+ */
  color $label-primary-color
  font-style italic
  font-size 16px
  opacity 0.5

.factory-from-project-workspace-filter .workspace-selector md-checkbox:after
  codenvy-separator()
  margin-top 17px
  margin-left 10px
  position relative

.factory-from-project-workspace-filter .workspace-selector:last-child md-checkbox:after
  display none

.factory-from-project-workspace-filter .greyed .md-icon
  background-color $disabled-color !important

.factory-from-workspace .workspace-list-static-icon
  flex 0 0 86px
  text-align center

.factory-from-workspace .workspace-list-static-icon project-type-icon
  margin 0 24px
  padding 10px 0
  width 36px
  height 36px
  line-height 36px
  font-size 36px
  color $label-secondary-color

.factory-from-workspace md-icon
  width auto
  height auto
  font-size 24px
  line-height 24px
  color $label-info-color

.factory-from-workspace .workspace-icon,
.factory-from-workspace .workspace-icon:hover,
.factory-from-workspace .workspace-icon md-icon,
.factory-from-workspace .workspace-icon md-icon:hover
  color $label-secondary-color

.factory-from-workspace .project-list-row
  outline none
  margin-left 0
  margin-right 0
  cursor pointer
  min-height 56px

.factory-from-workspace .project-name
  font-size 16px
  line-height 19px
  margin-bottom 3px
  color $label-primary-color

.factory-from-workspace .project-list-row:focus
  background-color $focus-on-list-color
