<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<md-content class="factory-from-workspace" flex>
  <cdvy-search cdvy-placeholder="Search for workspaces"
               ng-model="factoryFromWorkspaceCtrl.workspaceFilter.name"></cdvy-search>
  <span class="projects-list-workspace-name">{{factoryFromWorkspaceCtrl.getWorkspaceName(workspaceId)}}</span>
                  <span ng-show="(workspaces | filter:factoryFromWorkspaceCtrl.workspaceFilter).length == 0 && workspaces.length > 0"
                        class="workspace-list-empty">No workspaces found</span>
  </cdvy-list-title>
  <cdvy-list>
    <cdvy-list-item ng-show="(factoryFromWorkspaceCtrl.workspaces | filter:factoryFromWorkspaceCtrl.workspaceFilter).length > 0"
    ng-repeat="workspace in factoryFromWorkspaceCtrl.workspaces | filter:factoryFromWorkspaceCtrl.workspaceFilter"
                    flex-gt-sm="100" flex="33" ng-mouseover="hover=true" ng-mouseout="hover=false">
      <div layout-gt-sm="row" flex="100" layout-align="start center" class="project-list-row"
           ng-click="factoryFromWorkspaceCtrl.getFactoryContentFromWorkspace(workspace)">
        <div class="workspace-list-static-icon" layout-align="center center">
          <div class="workspace-icon">
            <md-icon md-font-icon="fa fa-server"></md-icon>
          </div>
        </div>
        <div flex layout="column"
             layout-align-gt="start center"
             layout-align-sm="center center">
          <div class="project-name">
            <a class="codenvy-hover">{{workspace.name}}</a>
          </div>
        </div>
      </div>
    </cdvy-list-item>
  </cdvy-list>
</md-content>
