cdvy-button-style()
  codenvy-border-radius(5px)
  box-shadow-simple()
  font-size 1.5em
  width auto
  height auto
  padding-left 20px
  padding-right 20px

cdvy-button-danger .md-button.md-danger-theme.md-hue-3.md-accent.md-raised, cdvy-button-danger .md-button.md-danger-theme.md-hue-3.md-accent.md-raised
  cdvy-button-style()

cdvy-button-warning .md-button.md-warning-theme.md-hue-3.md-accent.md-raised
  cdvy-button-style()

cdvy-button-default button.md-accent.md-raised.md-hue-2.md-button.md-cdvydefault-theme
  cdvy-button-style()

cdvy-button-default .md-button.md-accent.md-raised.md-hue-2.md-button.md-cdvydefault-theme
  cdvy-button-style()

cdvy-button-notice .md-button.md-accent.md-raised.md-hue-2.md-button.md-cdvynotice-theme
  cdvy-button-style()

cdvy-button-primary .md-button.md-default-theme.md-hue-2.md-accent.md-raised, cdvy-button-primary .md-button.md-maincontent-theme-theme.md-hue-2.md-accent.md-raised
  cdvy-button-style()

.cdvy-button md-icon
  display inherit
  font-size 26px
  margin-top -6px
  margin-right 10px

cdvy-button-primary button.md-button.cdvy-button.md-accent.md-default-theme.md-hue-2[disabled]
  background-color transparent

cdvy-button-danger .md-button:hover,
cdvy-button-notice .md-button:hover,
cdvy-button-warning .md-button:hover,
cdvy-button-default .md-button:hover,
cdvy-button-primary .md-button:hover
  codenvy-brightness(90%)
