<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<div class="left-sidebar-container">
  <md-toolbar class="flex-shrink-none">
    <md-progress-linear md-mode="indeterminate" ng-hide="navbarCtrl.email"></md-progress-linear>
    <div ng-show="navbarCtrl.email">
      <section class="md-toolbar-tools" layout="column" layout-align="center center">
        <a href="#/projects"><img class="codenvy-logo" ng-src="{{branding.logoURL}}" alt="logo"></a>
      </section>
      <section layout="column" layout-align="center center">
        <cdvy-button-dropdown cdvy-button-dropdown-href="#/create-project" cdvy-button-dropdown-label="New Project"
                              cdvy-event-logger="new.project"
                              cdvy-button-dropdown-controller="navbarCtrl"
                              ng-if="navbarCtrl.isUser()"></cdvy-button-dropdown>
      </section>
      <section layout="column" layout-align="center center">&nbsp;</section>
      <md-divider md-theme="factory-theme"></md-divider>

      <div class="admin-navbar-menu">
        <section class="left-sidebar-menu" layout="column" layout-align="center center">
          <md-list layout="column">
            <md-list-item flex class="navbar-subsection-item"
                          ng-show="navbarCtrl.displayLoginItem">
              <md-button nav-bar-selected flex ng-href="#/login" layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-user icon">&nbsp;</i>
                  <span>Login</span>
                </div>
              </md-button>
            </md-list-item>
            <ide-list-item-navbar></ide-list-item-navbar>
            <md-list-item flex class="navbar-subsection-item"  ng-if="navbarCtrl.isUser()">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/" layout-align="left" href="#/" target="_self">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-th-large icon">&nbsp;</i>
                  <span>Dashboard</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="navbarCtrl.isUser()">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/projects" layout-align="left" cdvy-event-logger="projects">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-folder-open icon">&nbsp;</i>
                  <span>Projects</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/workspaces" layout-align="left" cdvy-event-logger="workspaces">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-server fa-lg icon">&nbsp;</i>
                  <span>Workspaces</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="navbarCtrl.isFactoryServiceAvailable">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/factories" layout-align="left" cdvy-event-logger="factories">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="cdvyfont cdvyico-rocket-cdvyfont icon">&nbsp;</i>
                  <span>Factories</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="navbarCtrl.isImsAvailable() && navbarCtrl.userIsAdmin()">
              <md-button nav-bar-selected flex cdvy-reload-href  href="#/onprem/administration" layout-align="left" cdvy-event-logger="factories">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="cdvyfont cdvyico-administration icon">&nbsp;</i>
                  <span>Administration</span>
                </div>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
      </div>
      <md-divider ng-show="navbarCtrl.isAdminServiceAvailable" md-theme="factory-theme"></md-divider>
      <div ng-show="navbarCtrl.isAdminServiceAvailable" class="admin-navbar-menu"
           ng-init="configMenuIsExpand=true">
        <div class="navbar-identity"
             flex layout="row" layout-align="start center" ng-click="configMenuIsExpand=!configMenuIsExpand">
      <span flex layout="row" layout-align="start center" layout-padding>
        <i class="material-design icon-ic_build_24px">&nbsp;</i>
        <span flex class="navbar-title">Configuration</span>
      </span>
          <i class="material-design md-tab-themed" ng-class="configMenuIsExpand ? 'icon-ic_expand_less_24px' : 'icon-ic_expand_more_24px'">&nbsp;</i>
        </div>
        <section class="animation navbar-subsection"
                 flex layout="column" layout-align="center start" layout-fill
                 class="animation"
                 ng-if="configMenuIsExpand">
          <md-list layout="column" flex>
            <md-list-item ng-show="navbarCtrl.isAdminPluginServiceAvailable" flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/admin/plugins" layout-align="left" cdvy-event-logger="account">
                <div class="navbar-item" layout="row" layout-align="start center">Plug-Ins</div>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
      </div>

      <md-divider md-theme="factory-theme"></md-divider>
      <div class="admin-navbar-menu"
           ng-show="navbarCtrl.profile.attributes && navbarCtrl.isUser() && navbarCtrl.isAccountServiceAvailable" ng-init="isExpand=true">
        <div class="navbar-identity"
             flex layout="row" layout-align="start center" ng-click="isExpand=!isExpand">
      <span flex layout="row" layout-align="start center" layout-padding>
        <img class="developers-face" gravatar-src="navbarCtrl.email">
        <span flex class="navbar-title">{{navbarCtrl.codenvyAPI.getProfile().getFullName(navbarCtrl.profile.attributes)}}</span>
      </span>
          <i class="material-design md-tab-themed" ng-class="isExpand ? 'icon-ic_expand_less_24px' : 'icon-ic_expand_more_24px'">&nbsp;</i>
        </div>
        <section class="animation navbar-subsection"
                 flex layout="column" layout-align="center start" layout-fill
                 class="animation"
                 ng-if="isExpand">
          <md-list layout="column" flex>
            <md-list-item flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/account" layout-align="left" cdvy-event-logger="account">
                <div class="navbar-item" layout="row"
                     layout-align="start center">Account</div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="!navbarCtrl.isImsAvailable()">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/team" layout-align="left" cdvy-event-logger="team">
                <div class="navbar-item" layout="row"
                     layout-align="start center">Team</div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="navbarCtrl.isSubscriptionServiceAvailable">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/subscriptions" layout-align="left">
                <div class="navbar-item" layout="row" cdvy-event-logger="subscriptions"
                     layout-align="start center">Subscriptions</div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="!navbarCtrl.isImsAvailable() && navbarCtrl.isInvoiceServiceAvailable">
              <md-button nav-bar-selected flex cdvy-reload-href href="#/billing" layout-align="left">
                <div class="navbar-item" layout="row" cdvy-event-logger="billing-and-invoices"
                     layout-align="start center">Billing and Invoices</div>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
      </div>
      <md-divider md-theme="factory-theme" ng-show="navbarCtrl.isUser()"></md-divider>
      <div class="help-menu">
        <section class="left-sidebar-menu" layout="column" layout-align="center center">
          <md-list layout="row">
            <md-list-item>
              <help-widget></help-widget>
              <logout-widget></logout-widget>
            </md-list-item>
          </md-list>
        </section>
      </div>
    </div>
  </md-toolbar>
</div>
