/*
 * Copyright (c) 2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 */

$active-background-color = #3E4856
$active-border-color = rgb(74, 144, 226)
$navbar-menu-color = #C5D0DF
$navbar-icon-color = #E2E2E3
$faces-shadow = rgba(255, 255, 255, 0.5)
$menu-font-size = 14px
$submenu-font-size = 12px

/* restore non-allcaps */
.admin-navbar-menu section a.md-button
  text-transform none

/* remove button margins */
.admin-navbar-menu md-list-item a.md-button
  margin 0

.left-sidebar-container
  height 100vh
  display flex
  flex-flow row wrap
  justify-content space-around

.left-sidebar-container md-toolbar
  box-shadow none

.left-sidebar-menu
  width 100%

.left-sidebar-menu .navbar-subsection-item .navbar-item i,
.left-sidebar-menu .navbar-submenu-item .navbar-item i,
.navbar-submenu-content i
  width 40px
  font-size 19px
  line-height 12px
  text-align center

.admin-navbar-menu .navbar-subsection md-list
  padding-top 4px

.admin-navbar-menu .navbar-subsection .navbar-subsection-item
  min-height 0
  margin-top -4px

.admin-navbar-menu .navbar-identity span
  padding-top 8px
  padding-left 24px
  padding-bottom 8px

/* text color */
.admin-navbar-menu .navbar-header,
.admin-navbar-menu .navbar-identity,
.admin-navbar-menu section a.md-button span,
.navbar-submenu-content a.md-button span
  color $navbar-menu-color

.admin-navbar-menu section a.md-button i,
.navbar-submenu-content a.md-button i
  color $navbar-icon-color

.admin-navbar-menu section a.md-button,
.navbar-submenu-content a.md-button
  height 36px

.admin-navbar-menu md-list-item a.md-button.cdvy-navbar-selected span
  color $white-color

/* background color */

.admin-navbar-menu md-list-item a.md-button.cdvy-navbar-selected,
.admin-navbar-menu md-list-item a.md-button:hover,
.admin-navbar-menu md-menu a.md-button:hover
  background-color $active-background-color

.admin-navbar-menu md-menu a.md-button.cdvy-navbar-selected
  background-color inherit

/* layout */

.admin-navbar-menu .navbar-header
  margin-top 20px

.admin-navbar-menu .navbar-header
  margin-left 50px

.admin-navbar-menu .navbar-header span.navbar-title
  margin-left 5px

.admin-navbar-menu md-list-item a.md-button
  width fill-available
  padding 0

.admin-navbar-menu .left-sidebar-menu md-list-item > a.md-button .navbar-item,
.admin-navbar-menu .left-sidebar-menu md-menu > a.md-button .navbar-item,
.navbar-submenu-content md-menu-item > a.md-button .navbar-item
  padding-left 46px

.admin-navbar-menu md-list-item a.md-button .navbar-item
  padding-left 87px

.admin-navbar-menu section md-list,
.admin-navbar-menu .navbar-identity
  width fill-available

.admin-navbar-menu .navbar-subsection md-list-item a.md-button .navbar-item i
  line-height inherit
  width 13px
  margin-right 2px

/* hover, focus */
/* remove underline on focus */
.admin-navbar-menu section a.md-button:focus
  text-decoration none

/* uselessly long selector to pump up specificity */
.admin-navbar-menu section.navbar-subsection md-list md-item.navbar-subsection-item md-list-item a.md-button.cdvy-navbar-selected,
.admin-navbar-menu section.navbar-subsection md-list md-item.navbar-subsection-item md-list-item a.md-button:hover,
.navbar-submenu-content md-menu-item a.md-button:hover
  background-color $active-background-color

.admin-navbar-menu a:hover, .admin-navbar-menu a.cdvy-navbar-selected
  color inherit

/* effect */
.admin-navbar-menu md-list-item a.cdvy-navbar-selected .md-ripple-container:before
  content ""
  left 0
  top 4px
  bottom 4px
  position absolute
  border-left solid 3px $active-border-color

/* animations */
.admin-navbar-menu .animation.ng-enter
  -webkit-transition: 0.3s
  -moz-transition: 0.3s
  transition: 0.3s
  opacity: 0

.admin-navbar-menu .animation.ng-enter-stagger
  transition-delay 2.2s

.admin-navbar-menu .animation.ng-enter.ng-enter-active
  opacity 1

.admin-navbar-menu .animation.ng-leave md-list-item,
.admin-navbar-menu .animation.ng-leave
  -webkit-transition: 0.3s linear all
  -moz-transition: 0.3s linear all
  transition 0.3s linear all
  opacity 1

.admin-navbar-menu .animation.ng-leave-stagger md-list-item,
.admin-navbar-menu .animation.ng-leave-stagger
  transition-delay 0.2s

.admin-navbar-menu .animation.ng-leave.ng-leave-active
  opacity 0

.admin-navbar-menu .animation.ng-leave md-list-item
  margin-top -32px

/* user avatar */
.admin-navbar-menu .navbar-identity .developers-face
  codenvy-developers-face()
  -webkit-box-shadow 0 0 0 1px $faces-shadow
  -moz-box-shadow 0 0 0 1px $faces-shadow
  box-shadow 0 0 0 1px $faces-shadow

/* fonts sizes */
.admin-navbar-menu .navbar-header,
.admin-navbar-menu section.left-sidebar-menu a.md-button,
.admin-navbar-menu .navbar-identity,
.navbar-submenu-content span
  font-size $menu-font-size

.navbar-identity
  outline 0
  cursor pointer

.admin-navbar-menu section a.md-button
  font-size $submenu-font-size

/* remove focus effect on fold/unfold button */
.admin-navbar-menu .navbar-identity i.material-design:focus
  outline none

.navbar-submenu-item,
.navbar-submenu-item md-button
  width inherit

.navbar-submenu-item a.md-button
  width fill-available
  padding 0
  margin 0

.navbar-submenu-content
  padding 0
  width 304px
  border 1px solid
  background-color $menu-bg-color

.navbar-submenu-content a.md-button
  padding 0 !important

.navbar-submenu-content md-menu-item .md-button:focus
  background-color inherit
