<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->

<cdvy-panel cdvy-title="Download">

  <div flex layout="row" class="onprem-admin-available-software">
    <!-- TODO replace with md-table when available -->
    <table flex class="onprem-admin-available-software-table">
      <thead>
        <tr>
          <th class="onprem-admin-available-software-namecol">Software</th>
          <th class="onprem-admin-installed-software-col">Local Version</th>
          <th class="onprem-admin-available-software-col">Remote Version(s)</th>
        </tr>
      </thead>
      <tbody ng-if="onPremisesAdminBridgeAvailableSoftwareCtrl.artifacts">
        <tr ng-repeat="(artifactId, artifactItem) in onPremisesAdminBridgeAvailableSoftwareCtrl.artifacts">
          <td class="onprem-admin-available-software-namecol">
            <div class="onprem-admin-available-software-namecol-name">{{onPremisesAdminBridgeAvailableSoftwareCtrl.artifactDisplayName(artifactId)}}</div>
            <div class="onprem-admin-available-software-namecol-desc">{{onPremisesAdminBridgeAvailableSoftwareCtrl.artifactDescription(artifactId)}}</div>
          </td>
          <td class="onprem-admin-installed-software-col">
            <div layout="column">
              <div flex>{{artifactItem.installed.version}}</div>
              <div flex>{{artifactItem.installed.date|date: 'longDate'}}</div>
            </div>
          </td>
          <td class="onprem-admin-available-software-col">
            <div class="onprem-admin-available-software-latest" ng-show="!artifactItem.toInstall && !artifactItem.availables">
              Your local version is the latest available
            </div>
            <div ng-repeat="artifactToInstall in artifactItem.toInstall">
              <div layout-gt-md="row" layout-md="column">
                <div class="onprem-admin-available-software-available-version" flex>{{artifactToInstall.version}}</div>
              </div>
              <div class="onprem-admin-available-software-available-version-details">
                Ready to install on <a ng-href="#/onprem/admin/installation">Your installation</a>
                <div class="onprem-admin-available-software-available-version-details-releasenotes">
                  <cdvy-link ng-href="{{onPremisesAdminBridgeAvailableSoftwareCtrl.releaseNoteUrl(artifactItem.name, artifactToInstall.version)}}" cdvy-no-padding target="_blank" cdvy-link-text="Release Notes"></cdvy-link>
                </div>
              </div>
            </div>
            <div ng-repeat="artifactAvailable in artifactItem.availables">
              <div layout-gt-md="row" layout-md="column">
                <div class="onprem-admin-available-software-available-version" flex>{{artifactAvailable.version}}</div>
              </div>
              <div class="onprem-admin-available-software-available-version-details">
              <div>
                <div ng-show="onPremisesAdminBridgeAvailableSoftwareCtrl.currentDownloadedArtifact.name === artifactAvailable.name && onPremisesAdminBridgeAvailableSoftwareCtrl.currentDownloadedArtifact.version === artifactAvailable.version">
                  Downloading<md-progress-linear  md-mode="determinate" value="{{onPremisesAdminBridgeAvailableSoftwareCtrl.currentDownloadedArtifact.percent}}" ></md-progress-linear>
                </div>
                <div ng-hide="onPremisesAdminBridgeAvailableSoftwareCtrl.currentDownloadedArtifact.name === artifactAvailable.name && onPremisesAdminBridgeAvailableSoftwareCtrl.currentDownloadedArtifact.version === artifactAvailable.version">
                  <cdvy-button-default ng-click="onPremisesAdminBridgeAvailableSoftwareCtrl.downloadArtifact(artifactItem, artifactAvailable.version)" cdvy-button-title="Download"></cdvy-button-default>
              </div>
              </div>
              <div class="onprem-admin-available-software-available-version-details-releasenotes">
                <cdvy-link ng-href="{{onPremisesAdminBridgeAvailableSoftwareCtrl.releaseNoteUrl(artifactItem.name, artifactAvailable.version)}}" cdvy-no-padding target="_blank" cdvy-link-text="Release Notes"></cdvy-link>
              </div>
              </div>
            </div>
          </td>
        <tr>
      </tbody>
      <tbody ng-if="!onPremisesAdminBridgeAvailableSoftwareCtrl.artifacts">
        <tr>
          <td colspan="3">No software information</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div layout="column" layout-align="center end">
    <div class="onprem-admin-available-software-available-version-help-download" flex>You can upgrade Codenvy by downloading a new version and <a ng-href="#/onprem/admin/installation">installing it</a>.</div>
  </div>
</cdvy-panel>
