<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<cdvy-list-item flex-gt-sm="100" flex="33" ng-mouseover="hover=true" ng-mouseout="hover=false">
  <div layout-gt-sm="row" flex="100" layout-align="start center" class="factory-list-row">
    <div class="factory-list-static-icon" layout-align="center center">
      <cdvy-list-item-checked class="factory-type-icon"
                              ng-model="factoryItemCtrl.isSelect"
                              cdvy-icon="cdvyfont cdvyico-type-{{factoryItemCtrl.factory.originFactory.project.type}} cdvyico-type-blank"
                              cdvy-aria-label-checkbox="Factory {{factoryItemCtrl.factory.originFactory.name}}"></cdvy-list-item-checked>
    </div>
    <div flex="50" layout="column" layout-align-gt="start center" layout-align-md="start center" layout-align-sm="center center"
         ng-click="factoryItemCtrl.redirectToFactoryDetails()">
      <div class="factory-name  codenvy-hover">
        <span ng-if="factoryItemCtrl.factory.originFactory.name">
          {{factoryItemCtrl.factory.originFactory.name}}
        </span>
      </div>
      <div class="factory-id codenvy-hover">{{factoryItemCtrl.factory.originFactory.id}}</div>
    </div>
    <div flex="10" class="factory-details" layout-align="center center">
      <span tooltip="Created: {{factoryItemCtrl.factory.originFactory.creator.created | amDateFormat:'dddd, MMMM Do, YYYY'}}"
            am-time-ago="factoryItemCtrl.factory.originFactory.creator.created"></span>
    </div>
    <div flex="10" class="factory-details" layout-align="center center">
      <span class="codenvy-hover" tooltip="Number of views">{{factoryItemCtrl.factory.views}} views</span>
    </div>
    <p ng-show="hover">
      <a ng-href="{{factoryItemCtrl.factory.idURL}}" target="_blank">
        <cdvy-button-default class="factory-list-details-arrow"
                             cdvy-button-icon="fa fa fa-chevron-circle-right"
                             cdvy-button-title="Open in IDE"></cdvy-button-default>
      </a>
    </p>
  </div>
</cdvy-list-item>
