.factory-type-icon
  padding 10px 0
  width 100%

.factory-type-icon md-icon
  margin 0 24px
  height 36px !important
  line-height 36px
  width 36px !important
  font-size 36px !important
  color $label-secondary-color

.factory-list-static-icon
  flex 0 0 86px
  text-align center

.factory-list-static-icon + div
  cursor pointer

.factory-list-row
  min-height 56px

.factory-list-row > div
  display flex
  outline none

.factory-list-row > p
  margin 0
  width 100%
  text-align end
  display inline-block

.factory-list-row .factory-name
  font-size 16px
  line-height 19px
  color $label-primary-color

.factory-list-row .factory-name .factory-details
  font-size 12px
  margin-left 10px
  color $label-info-color

.factory-list-row .factory-details
  font-size 12px
  line-height 15px
  color $label-info-color

.factory-list-row .factory-id
  font-size 12px
  line-height 19px
  color $link-color

.factory-list-details-arrow md-icon
  height 32px !important
  line-height 35px
  width 36px !important
  font-size 32px !important

.factory-list-details-arrow button
  font-size 11px !important
