<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<cdvy-panel cdvy-title="Factory Information">
  <ng-form name="factoryInformationForm">
    <cdvy-input cdvy-form="factoryInformationForm"
                cdvy-name="name"
                cdvy-label-name="Name"
                cdvy-place-holder="Name of the factory"
                ng-model="factoryInformationCtrl.copyOriginFactory.name">
    </cdvy-input>
  </ng-form>
  <div layout="column" flex layout-align="space-around start">
    <cdvy-text-info cdvy-label-name="URL"
                    cdvy-text="factoryInformationCtrl.factory.idURL ? factoryInformationCtrl.factory.idURL : 'No value'"
                    cdvy-href="factoryInformationCtrl.factory.idURL"
                    cdvy-copy-clipboard="true"></cdvy-text-info>
    <cdvy-text-info class="cdvy-text-info-subline"
                    ng-show="factoryInformationCtrl.factory.nameURL"
                    cdvy-text="factoryInformationCtrl.factory.nameURL ? factoryInformationCtrl.factory.nameURL : 'No value'"
                    cdvy-href="factoryInformationCtrl.factory.nameURL"
                    cdvy-copy-clipboard="true"></cdvy-text-info>
    <cdvy-text-info cdvy-label-name="Creation Date"
                    cdvy-text="factoryInformationCtrl.factory.originFactory.creator.created | amDateFormat:'Do MMMM YYYY'">
    </cdvy-text-info>
  </div>
  <cdvy-button-primary
    ng-disabled="factoryInformationForm.$invalid
                 || (factoryInformationCtrl.copyOriginFactory.name === factoryInformationCtrl.factory.originFactory.name)"
    cdvy-button-title="Update" name="updateButton"
    ng-click="factoryInformationCtrl.setFactory(factoryInformationCtrl.copyOriginFactory)"/>
</cdvy-panel>
