#ide-loader
  position absolute
  height 100%
  width 100%
  z-index 100
  left 0
  top 0
  opacity 1
  background-color black
  color white



ide-loader#ide-loader.ng-hide-add
  opacity 1

ide-loader#ide-loader.ng-hide
  opacity 1
