<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<cdvy-toolbar cdvy-title="Account"></cdvy-toolbar>

<md-content md-scroll-y flex md-theme="maincontent-theme">
  <md-tabs md-dynamic-height md-swipe-content md-stretch-tabs="always" md-selected="accountCtrl.selectedTabIndex" class="account-menu">
    <md-tab cdvy-event-logger="account/profile">
      <md-tab-label>
        <md-icon md-font-icon="fa-user" class="fa cdvy-tab-label-icon"></md-icon>
        <span class="cdvy-tab-label-title">Profile</span>
      </md-tab-label>
      <md-tab-body>
        <cdvy-panel cdvy-title="Your Information">
          <ng-form name="profileInformationForm">
            <account-profile></account-profile>
            <cdvy-button-default cdvy-button-title="save"
                                 ng-click="accountCtrl.setProfileAttributes(profileInformationForm.$valid)"
                                 cdvy-event-logger="account/profile/edit"
                                 ng-disabled="profileInformationForm.$invalid || !accountCtrl.isAttributesChanged()">
            </cdvy-button-default>
          </ng-form>
        </cdvy-panel>
      </md-tab-body>
    </md-tab>

    <md-tab cdvy-event-logger="account/billing" ng-if="accountCtrl.isCreditCardServiceAvailable">
      <md-tab-label>
        <md-icon md-font-icon="material-design icon-ic_credit_card_24px" class="cdvy-tab-label-icon"></md-icon>
        <span class="cdvy-tab-label-title">Billing</span>
      </md-tab-label>
      <md-tab-body>
        <div ng-controller="CreditcardCtrl as creditCardCtrl">
          <cdvy-panel cdvy-title="Add a credit card" ng-show="creditCardCtrl.creditCards.length == 0 && creditCardCtrl.loadedCreditCards">
            <ng-form name="creditCardInformationForm" id="creditCardInformationForm">
              <add-creditcard style="display: block;" loaded="{{creditCardCtrl.loadedCreditCards}}" ng-init="creditCardCtrl.setCreditCard(this.addCreditcardCtrl.creditCard);"></add-creditcard>
              <cdvy-button-default cdvy-button-title="add"
                                   ng-disabled="creditCardInformationForm.$invalid"
                                   cdvy-event-logger="account/billing/add-credit-card"
                                   ng-click="creditCardCtrl.addCreditCard();">
              </cdvy-button-default>
            </ng-form>
          </cdvy-panel>
          <cdvy-panel cdvy-title="Credit Card Information" ng-show="creditCardCtrl.creditCards.length > 0">
            <div layout="row" layout-align="center center" ng-repeat="card in creditCardCtrl.creditCards">
              <div layout="column" flex="85" class="creditcard-info">
                <p>{{card.cardholder}}</p>
                <p>{{card.type}} ...{{card.number.slice(-4)}} ({{card.expiration}})</p>
              </div>
              <cdvy-button-danger flex="15" cdvy-button-title="Remove"
                                  cdvy-event-logger="account/billing/remove-credit-card"
                                  ng-click="creditCardCtrl.removeCreditCard(card, $event);"/>
            </div>
          </cdvy-panel>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab cdvy-event-logger="account/security">
      <md-tab-label>
        <md-icon md-font-icon="material-design icon-ic_settings_24px" class="cdvy-tab-label-icon"></md-icon>
        <span class="cdvy-tab-label-title">Security</span>
      </md-tab-label>
      <md-tab-body>
        <cdvy-panel cdvy-title="Update Your Password">
            <account-update-password cdvy-password="newPassword"
                                    cdvy-reset-password="accountCtrl.resetPasswordForm">
            </account-update-password>
            <cdvy-button-default cdvy-button-title="Update Password"
                                cdvy-event-logger="account/security/update-password"
                                ng-disabled="!newPassword"
                                ng-click="accountCtrl.setPassword(newPassword)">
            </cdvy-button-default>
        </cdvy-panel>
        <account-delete></account-delete>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
