<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<cdvy-toolbar cdvy-title="New Project"
              class="create-project-page-toolbar">
    <div ng-show="createProjectCtrl.isCreateProjectInProgress()">
        <a class="create-project-minimize-icon material-design icon-ic_picture_in_picture_24px"
                             ng-href="#/projects"
                             ng-click="createProjectCtrl.hideCreateProjectPanel()"></a>
    </div>
</cdvy-toolbar>

<div ng-hide="createProjectCtrl.isCreateProjectInProgress()" id="create-project-header-steps" flex class="create-project-header-steps">
    <div class="create-project-header-steps-panel" layout="row" layout-wrap layout-align="center center">
        <div layout="row" layout-wrap>
            <div ng-repeat="step in createProjectCtrl.headerSteps" layout="row" layout-align="center center">
                <div class="create-project-header-steps-step" ng-class="{'create-project-header-steps-step-active' : (createProjectCtrl.isElementVisible($index))}" layout="row" layout-align="center center">
                    <div class="create-project-header-steps-step-title">{{step.name}}</div>
                </div>
                <div class="create-project-header-steps-link" ng-class="{'create-project-header-steps-link-active' : (createProjectCtrl.isElementVisible($index + 1))}" ng-hide="$last">

                </div>
            </div>
        </div>
        <div flex class="create-project-header-steps-button" layout="row" layout-align="end end">
            <cdvy-button-primary cdvy-button-title="Create"
                                 ng-click="!createProjectCtrl.checkValidFormState() || createProjectCtrl.create()"
                                 ng-disabled="!createProjectCtrl.checkValidFormState() || !createProjectCtrl.isReadyToCreate()"
                    ></cdvy-button-primary>
        </div>
    </div>
</div>



<md-progress-linear md-mode="indeterminate" class="projects-list-projects-progress"
                    ng-hide="createProjectCtrl.stacksInitialized"></md-progress-linear>

<md-content id="create-project-content-page" md-scroll-y flex class="projects-create-project" ng-show="createProjectCtrl.stacksInitialized" md-theme="maincontent-theme">
    <div ng-show="createProjectCtrl.isCreateProjectInProgress()">


        <div id="create-project-panel" class="create-project-progress-panel" >

            <div class="create-project-progress-panel-top" style="background-image: url('assets/images/bg-intermediate-screen.svg')">
                <div class="create-project-progress-widget-progress" layout-align="center center" class="progress-global" layout="row">
                    <md-icon ng-hide="createProjectCtrl.getCurrentProgressStep() === (createProjectCtrl.getCreationSteps().length - 1)" md-svg-src="assets/images/loader.svg" class="create-project-progress-loader-icon" aria-label="loader"></md-icon>
                </div>

                <div layout="column" class="create-project-panel-progress-title" layout-align="center center">
                    <div class="create-project-panel-progress-counter" ng-show="createProjectCtrl.getCurrentProgressStep() < (createProjectCtrl.getCreationSteps().length - 1)">{{createProjectCtrl.getCurrentProgressStep() + 1}} / {{createProjectCtrl.getCreationSteps().length - 1}}</div>
                    <div>{{createProjectCtrl.projectName}} : {{createProjectCtrl.getCreationSteps()[createProjectCtrl.getCurrentProgressStep()].text}}</div>
                </div>
            </div>
            <div class="create-project-progress-panel-bottom">
                <div ng-repeat="step in createProjectCtrl.getCreationSteps()">
                    <div ng-if="$index < (createProjectCtrl.getCreationSteps().length - 1)"
                         class="create-project-panel-progress-items"
                         ng-class="{'create-project-panel-progress-items-enabled' : (createProjectCtrl.getCurrentProgressStep() >= $index), 'create-project-panel-progress-items-error' : createProjectCtrl.getCreationSteps()[$index].hasError}"
                         >
                        <div  layout="row" layout-align="start center">
                            <div class="create-project-panel-progress-item-number">{{$index + 1}}</div>
                            <div flex>{{createProjectCtrl.getStepText($index)}}</div>
                            <cdvy-button-danger ng-show="createProjectCtrl.getCreationSteps()[$index].hasError"
                                    cdvy-button-title="Retry" ng-click="createProjectCtrl.resetCreateProgress()" ></cdvy-button-danger>
                        </div>
                    </div>
                    <div ng-if="$index < (createProjectCtrl.getCreationSteps().length - 1)" layout="row">
                        <div ng-class="{'create-project-panel-progress-item-link-enabled' : (createProjectCtrl.getCurrentProgressStep() > $index), 'create-project-panel-progress-item-link-error' : createProjectCtrl.getCreationSteps()[$index].hasError}"
                             class="create-project-panel-progress-item-link">&nbsp;</div>
                        <textarea cdvy-auto-scroll ng-show="createProjectCtrl.getCreationSteps()[$index].logs.length > 0" flex class="create-project-panel-progress-item-output" rows="5" ng-model="createProjectCtrl.getCreationSteps()[$index].logs"></textarea>
                    </div>
                </div>
                <div ng-class="{'create-project-panel-progress-lastitem-enabled' : (createProjectCtrl.getCurrentProgressStep() === (createProjectCtrl.getCreationSteps().length - 1)), 'create-project-panel-progress-lastitem-error' : createProjectCtrl.getCreationSteps()[$index].hasError}"
                     class="create-project-panel-progress-lastitem" layout="row" layout-align="end start">
                    &nbsp;
                    <cdvy-button-notice ng-show="createProjectCtrl.getCurrentProgressStep() === (createProjectCtrl.getCreationSteps().length - 1)"
                                        cdvy-button-title="Add another project" ng-click="createProjectCtrl.resetCreateNewProject()"></cdvy-button-notice>
                    <cdvy-button-primary ng-show="createProjectCtrl.getCurrentProgressStep() === (createProjectCtrl.getCreationSteps().length - 1)"
                                         cdvy-button-title="Open in IDE" ng-href="#/ide/{{createProjectCtrl.getWorkspaceOfProject()}}"></cdvy-button-primary>
                </div>
            </div>


        </div>
    </div>

    <div ng-hide="createProjectCtrl.isCreateProjectInProgress()">



        <cdvy-panel id="create-project-source-id" cdvy-title="Select Source" cdvy-tooltip="Choose where the initial source code for this project will come from. The choice of templates and samples will vary by the stack chosen.">
            <md-radio-group ng-model="createProjectCtrl.selectSourceOption">
                <md-radio-button value="select-source-new">New from blank, template, or sample project</md-radio-button>
                <md-radio-button value="select-source-existing">Import from existing location</md-radio-button>
            </md-radio-group>


            <div ng-show="createProjectCtrl.selectSourceOption === 'select-source-existing'">
                <md-tabs md-stretch-tabs="always" md-dynamic-height md-swipe-content md-selected="createProjectCtrl.selectedTabIndex">
                    <md-tab md-on-select="createProjectCtrl.setCurrentTab('git')" cdvy-event-logger="new.project/git">
                        <md-tab-label>
                            <md-icon md-font-icon="fa-git" class="fa cdvy-tab-label-icon"></md-icon>
                            <span class="cdvy-tab-label-title">Git Repository</span>
                        </md-tab-label>
                        <md-tab-body>
                            <create-project-git class="projects-create-project-tab" layout="column"></create-project-git>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="createProjectCtrl.setCurrentTab('github')" cdvy-event-logger="new.project/github">
                        <md-tab-label>
                            <md-icon md-font-icon="fa-github" class="fa cdvy-tab-label-icon"></md-icon>
                            <span class="cdvy-tab-label-title">Github</span>
                        </md-tab-label>
                        <md-tab-body>
                            <create-project-github class="projects-create-project-tab" layout="column"></create-project-github>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="createProjectCtrl.setCurrentTab('zip')" cdvy-event-logger="new.project/zip">
                        <md-tab-label>
                            <md-icon md-font-icon="fa-file-archive-o" class="fa cdvy-tab-label-icon"></md-icon>
                            <span class="cdvy-tab-label-title">Zip</span>
                        </md-tab-label>
                        <md-tab-body>
                            <create-project-zip class="projects-create-project-tab" layout="column"></create-project-zip>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>

        </cdvy-panel>


        <cdvy-panel id="create-project-source-stack"  cdvy-title="Select Stack" cdvy-tooltip="Stacks are recipes or images used to define your environment runtime. Workspace environments are used to build and run your project.">


            <md-tabs md-dynamic-height md-stretch-tabs="always" md-swipe-content md-selected="createProjectCtrl.stackSelectedIndex">
                <md-tab cdvy-event-logger="new.project/select-ready-to-go-stack" md-on-select="createProjectCtrl.setStackTab('ready-to-go')">
                    <md-tab-label>
                        <md-icon md-font-icon="fa-magic" class="fa cdvy-tab-label-icon"></md-icon>
                        <span class="cdvy-tab-label-title">Ready-to-go Stacks</span>
                    </md-tab-label>
                    <md-tab-body>
                            <ready-to-go-stacks class="projects-create-project-tab" layout="row" layout-wrap ng-init="readyToGoStacksCtrl.initCallbackController(createProjectCtrl)"></ready-to-go-stacks>
                    </md-tab-body>
                </md-tab>
                <md-tab cdvy-event-logger="new.project/stack-library" md-on-select="createProjectCtrl.setStackTab('stack-library')">
                    <md-tab-label>
                        <md-icon md-font-icon="fa-sliders" class="fa cdvy-tab-label-icon"></md-icon>
                        <span class="cdvy-tab-label-title">Stack library</span>
                    </md-tab-label>
                    <md-tab-body>
                        <create-project-stack-library ng-init="createProjectStackLibraryCtrl.initCallbackController(createProjectCtrl)"></create-project-stack-library>
                    </md-tab-body>
                </md-tab>

              <md-tab cdvy-event-logger="new.project/custom-stack" md-on-select="createProjectCtrl.setStackTab('custom-stack')">
                <md-tab-label>
                  <md-icon md-font-icon="material-design icon-ic_input_24px" class="cdvy-tab-label-icon"></md-icon>
                  <span class="cdvy-tab-label-title">Custom stack</span>
                </md-tab-label>
                <md-tab-body>
                  <cdvy-workspace-recipe cdvy-workspace-ram="createProjectCtrl.workspaceRam"
                                         cdvy-workspace-name="createProjectCtrl.workspaceName"
                                         cdvy-recipe-script="createProjectCtrl.recipeScript"
                                         cdvy-recipe-url="createProjectCtrl.recipeUrl"></cdvy-workspace-recipe>
                </md-tab-body>
              </md-tab>
            </md-tabs>

        </cdvy-panel>

        <cdvy-panel id="create-project-source-template" ng-show="createProjectCtrl.selectSourceOption === 'select-source-new'" cdvy-title="Select Template" cdvy-tooltip="Create new projects with templates configured by you using a wizard in the IDE.">
            <md-radio-group ng-model="createProjectCtrl.templatesChoice">
                <md-radio-button>Ready-to-run project samples</md-radio-button>
            </md-radio-group>
            <create-project-samples></create-project-samples>
        </cdvy-panel>


        <ng-form name="projectInformationForm">
            <cdvy-panel cdvy-title="Project Information" id="create-project-source-information"  ng-init="createProjectCtrl.setProjectInformationForm(projectInformationForm);" >

                <cdvy-input cdvy-form="projectInformationForm"
                            cdvy-name="name"
                            cdvy-label-name="Name"
                            cdvy-place-holder="Name of the project"
                            ng-change="createProjectCtrl.checkChangeableNameStatus()"
                            ng-model="createProjectCtrl.projectName"
                            required
                            unique-project-name="createProjectCtrl.workspaceSelected"
                            ng-maxlength="128"
                            ng-pattern="/^[A-Za-z0-9_\-\.]+$/">
                    <div ng-message="required">A name is required.</div>
                    <div ng-message="uniqueProjectName">This project name is already used.</div>
                    <div ng-message="pattern">The name should not contain special characters like space, dollar, etc.</div>
                    <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
                    <div ng-message="md-maxlength">The name has to be less than 128 characters long.</div>
                </cdvy-input>
                <div ng-show="createProjectCtrl.importProjectData.project.type && createProjectCtrl.importProjectData.project.type.length > 0">
                    <cdvy-input cdvy-form="projectInformationForm"
                                cdvy-name="description"
                                cdvy-label-name="Description"
                                cdvy-place-holder="Description of the project"
                                ng-change="createProjectCtrl.checkChangeableDescriptionStatus()"
                                ng-model="createProjectCtrl.projectDescription"
                                ng-maxlength="256">
                        <div ng-message="maxlength">The name has to be less than 256 characters long.</div>
                        <div ng-message="md-maxlength">The name has to be less than 256 characters long.</div>
                    </cdvy-input>
                </div>

            </cdvy-panel>
        </ng-form>



        <cdvy-button-primary id="create-project-button-import"
                             cdvy-button-title="Create Project"
                             ng-click="!createProjectCtrl.checkValidFormState() || createProjectCtrl.create()"
                             ng-disabled="!createProjectCtrl.checkValidFormState() || !createProjectCtrl.isReadyToCreate()"
                             class="projects-create-project-button"
                ></cdvy-button-primary>

        <div class="create-project-empty-space"></div>

    </div>

</md-content>
