@import 'colors/codenvy-colors.styl'

codenvy-separator()
  position absolute
  top 0
  height 24px
  margin-top 12px
  border-left solid 1px $label-primary-color
  content ""

codenvy-roundimage()
  border-radius 50%

codenvy-developers-face()
  codenvy-roundimage()
  box-shadow-simple()
  height 37px
  width 37px
  padding 0

@import '../components/widget'
@import '../components/codemirror/codemirror'
@import 'projects/projects-config'

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

.dark-menu-bg
  background-color $menu-bg-color

md-sidenav.dark-menu-bg
  overflow auto

  img.pull-right
    width 50px

html

body
  font-size 14px
  font-family Lato
  background-color $background-site-color

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, .h5 small, h6 small, h6 .small
  font-size 65%
  color #777

label
  font-weight normal !important

md-divider
  border-top-color #454F5F !important

md-option
  padding 5px
  height auto

md-option:hover
  background-color $hover-on-list-color

.sidebar-entry
  margin-left auto

.main-page
  max-width 1296px
  min-width 320px
  margin-right auto


.main-page-loader
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  color white
  background-color black
  z-index 80

.main-page-loader-content
  display inline-block
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  width 120px
  height 120px
  margin auto
  z-index: 86;


.not-visible
  visibility hidden
// injector
// endinjector



.codenvy-logo
  width 180px
  margin-top 10px

.codenvy-hover:hover
  codenvy-brightness(80%)

.animate-show.ng-hide-add
  opacity 0

.animate-show.ng-hide
  transition 0.5s linear all

.ng-cloak
  display none !important

.image-loader-fadein.ng-enter
  opacity 0
  animation popInEffect 0.5s

.image-loader-fadein.ng-enter-active
  opacity 1

@keyframes popInEffect
  0% { opacity: 0}
  100% { opacity: 1}


/*
.ide-show.ng-hide-remove
  transition 0.5s linear all
  opacity 1

.ide-show.ng-hide-add
  opacity 0
  transition 0.5s linear all
*/
