<div>
    <cdvy-panel cdvy-title="What Should {{welcomeBackCtrl.accessUrl}} Load?" ng-show="welcomeBackCtrl.needUserAction()">
        <div flex>
            <cdvy-toggle ng-model="welcomeBackCtrl.welcomeChoice">
                <cdvy-toggle-button ng-click="welcomeBackCtrl.selectChoice(false)" cdvy-font-icon="fa fa-th-large"
                                    cdvy-title="Dashboard"></cdvy-toggle-button>
                <cdvy-toggle-button ng-click="welcomeBackCtrl.selectChoice(true)" cdvy-font-icon="fa fa-chevron-circle-right"
                                    cdvy-title="Last Opened Workspace in IDE"></cdvy-toggle-button>
            </cdvy-toggle>

        </div>
    </cdvy-panel>
    <cdvy-panel cdvy-title="What Should '/' Load?" ng-if="!welcomeBackCtrl.needUserAction() && welcomeBackCtrl.isDevMode()">
        <p>Development mode: This panel is only shown in development</p>
        <cdvy-button-primary cdvy-button-title="reset choice of welcome back" ng-click="welcomeBackCtrl.removeChoice()"></cdvy-button-primary>
    </cdvy-panel>
</div>
