<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->

<cdvy-panel cdvy-title="Your Installation">
  <md-progress-linear md-mode="indeterminate"  ng-show="yourInstallationCtrl.isLoading" ></md-progress-linear>
  <div ng-hide="yourInstallationCtrl.isLoading">
    <div class="onprem-your-install-installed-version-block" ng-if="yourInstallationCtrl.installedVersion">
      <div class="onprem-your-install-label">Installed Version</div>
      <div flex style="height: 20px">{{yourInstallationCtrl.installedVersion}}</div>
    </div>

    <div flex class="onprem-your-install-nodes" ng-if="yourInstallationCtrl.nodeList.length > 0">
      <!-- TODO replace with md-table when available -->
      <table flex class="onprem-your-install-nodes-table">
        <thead>
        <tr><th>Hostname</th><th>Node</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="node in yourInstallationCtrl.nodeList">
          <td class="onprem-your-install-nodes-hostname-col">{{node.hostname}}</td>
          <td class="onprem-your-install-nodes-node-col">{{node.type}}</td>
        <tr>
        </tbody>
      </table>
    </div>

    <div flex class="onprem-your-install-nodes" ng-if="yourInstallationCtrl.downloadedVersions.length > 0">
      <!-- TODO replace with md-table when available -->
      <table flex class="onprem-your-install-nodes-table">
        <thead>
        <tr><th>Downloaded version</th><th>Action</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="downloadedVersion in yourInstallationCtrl.downloadedVersions">
          <td class="onprem-your-install-nodes-hostname-col">{{downloadedVersion}}</td>
          <td class="onprem-your-install-nodes-node-col">
            <cdvy-button-default cdvy-button-title="Delete" ng-click="yourInstallationCtrl.removeDownloadedVersion(downloadedVersion)">
            </cdvy-button-default>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</cdvy-panel>
