<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->

<cdvy-panel cdvy-title="Subscription">
  <div class="onprem-admin-bridge-yoursubscription">
    <div ng-switch on="onPremisesAdminYourSubscriptionCtrl.subscriptionState">
      <div ng-switch on="onPremisesAdminYourSubscriptionCtrl.subscriptionState">
        <div ng-switch-when="SUBSCRIPTION">
          <p>You have a <b>Codenvy On-Prem Paid Subscription</b>. It will renew on
            {{onPremisesAdminYourSubscriptionCtrl.expirationDate|date:"longDate"}}.
          </p>

          <p>Your subscription lets you schedule downloads, disable data uploads, receive premium (human!)
            support, and generate license compliance reports. Get support at&#0020
            <cdvy-link ng-href="mailto:premiumsupport@codenvy.com"
                       cdvy-link-text="premiumsupport@codenvy.com"
                       cdvy-no-padding="true"></cdvy-link>
            .
          </p>
          <p>Thank you for being a customer. We value your patronage.</p>
        </div>
        <div ng-switch-when="NO_SUBSCRIPTION">
          <p>Codenvy is free for 10 users running on a single node. You can
            <cdvy-link ng-href="{{onPremisesAdminCodenvyAccountCtrl.upgradeSubscriptionUrl}}" cdvy-no-padding target="_blank"
                       cdvy-link-text="purchase a commercial subscription"></cdvy-link>
            for more users or nodes.
          </p>
        </div>
        <div ng-switch-default>{{onPremisesAdminYourSubscriptionCtrl.subscriptionState}}</div>
      </div>
    </div>
  </div>
</cdvy-panel>
