<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<cdvy-list-item flex-gt-sm="100" ng-mouseover="hover=true" ng-mouseout="hover=false">
    <div layout-gt-md="row" layout="column" flex="100" layout-align="start center"
         class="workspace-item-row"
         ng-click="workspaceItemCtrl.redirectToWorkspaceDetails();">
        <div class="workspace-item-name" flex="20" >
            <span>{{workspaceItemCtrl.workspace.name}}</span>
            <i class="fa fa-clock-o workspace-item-temp" ng-if="workspaceItemCtrl.workspace.temporary"></i>
        </div>
        <div class="workspace-item-details" flex="10">{{workspaceItemCtrl.workspace.status}}</div>
        <div class="workspace-consumed-value" flex="10">{{workspaceItemCtrl.workspace.environments[workspaceItemCtrl.workspace.defaultEnvName].machineConfigs[0].limits.memory}} MB</div>
        <a ng-href="#/ide/{{workspaceItemCtrl.workspace.name}}">
            <cdvy-button-default class="codenvy-hover workspace-list-details-arrow"
                                 cdvy-button-icon="fa fa fa-chevron-circle-right"
                                 cdvy-button-title="Open in IDE"></cdvy-button-default>
        </a>

    </div>
</cdvy-list-item>
