.cdvy-box
  margin 24px
  margin-top 32px
  margin-bottom 10px
  margin-right 24px
  box-shadow-bigger()
  background-color $default-dark-color
  border-radius 2px

.cdvy-box-titlebox
  color $background-color
  height 40px
  font-size 18px
  padding-left 10px
  background-color $label-primary-color


.cdvy-box md-card-content
  background-color $list-separator-color

.cdvy-box-title-icon
  margin-right 10px

.cdvy-box-title-bg-default
  background-color $default-dark-color

.cdvy-box-title-bg-primary
  background-color $label-primary-color
