<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<form name="createProjectGitForm">
  <div layout="row" flex ng-init="createProjectCtrl.setForm(createProjectGitForm, 'git')"></div>
  <cdvy-input cdvy-form="createProjectGitForm"
              cdvy-name="remoteGitURL"
              cdvy-label-name="Git URL"
              cdvy-place-holder="Url of the git repository"
              ng-focus="$parent.createProjectGitCtrl.setFocus()"
              ng-blur="$parent.createProjectGitCtrl.lostFocus()"
              ng-model="createProjectCtrl.importProjectData.source.location"
              git-url
              required>
    <div ng-message="gitUrl">Invalid Git URL</div>
    <div ng-message="required">A repository URL is required.</div>
  </cdvy-input>


</form>
