.panel-background
  background-color $background-color

.projects-list-header
  flex-wrap wrap

.projects-list-header cdvy-search
  width 800px
  margin-left 7px
  min-width fit-content

.projects-list-header .md-toolbar-item
  min-width 218px
  margin-left 7px

.projects-list-header .md-toolbar-item .projects-list-projects-cog:hover
  codenvy-brightness(80%)

.projects-list-header .md-toolbar-item div
  width 100%

.projects-list-project-panel-toolbar
  font-weight bold

.projects-list-projects md-icon
  font-size 24px
  height auto
  width auto
  color $label-info-color
  line-height 24px

.projects-list-projects md-list
  padding 0px

.projects-list-projects md-content
  padding 15px

.projects-list-projects .cdvy-link
  text-decoration none
  color $primary-color

.projects-list-projects .projects-empty-list
  overflow visible
  min-height calc(100vh - 246px)

.project-list-empty
  font-size 12px

.md-toolbar-item .projects-list-projects-cog
  float right
  margin-right 2px

md-progress-linear.projects-list-projects-progress
  height 10px

.projects-filter-animation
  background-color $background-color
  height max-content
  min-height 43px

.projects-filter-animation.ng-enter
  -webkit-transition 0.3s
  -moz-transition 0.3s
  transition 0.3s
  opacity 0
  height 0
  min-height 0

.projects-filter-animation.ng-enter-active
  opacity 1
  height 43px

.projects-filter-animation.ng-leave
  -webkit-transition: 0.3s
  -moz-transition: 0.3s
  transition 0.3s
  opacity 1
  height max-content

.projects-filter-animation.ng-leave-active
  opacity 0
  height 0
  min-height 0

.projects-list-projects-filter-workspace-label
  color $label-primary-color
  margin-left 10px

.projects-list-projects-filter-action
  color $primary-color
  text-transform uppercase
  margin-top 3px
  margin-right 10px

.projects-list-projects-filter-action-icon
  margin-right 20px

.projects-list-projects-select-workspace md-checkbox
  margin-left 10px

.projects-list-projects-select-workspace md-checkbox .md-label
  color $label-primary-color

.projects-list-projects-select-workspace md-checkbox:after
  codenvy-separator()
  margin-top 17px
  margin-left 10px
  position relative

.projects-list-projects-select-workspace:last-child md-checkbox:after
  display none

.projects-list-workspace-name
  margin-left 12px

.cdvy-list cdvy-project-item:not(:last-of-type) .cdvy-list-item
  border-bottom 1px solid $list-separator-color
