.projects-create-project-samples-list-item
  padding 5px 10px
  cursor pointer

.projects-create-project-samples-list-item:focus
  background-color $primary-color
  outline none

.projects-create-project-samples-list-samplename
  font-size 14px

  color $label-primary-color

.projects-create-project-samples-list-sampledescription
  font-size 12px

  color $label-info-color

.projects-create-project-samples-list-item:focus .projects-create-project-samples-list-samplename
  color white

.projects-create-project-samples-list-item:focus .projects-create-project-samples-list-sampledescription
  color white

.projects-create-project-samples-header-projecttype
  color $label-info-color

.projects-create-project-samples-search-component
  border-bottom $label-primary-color 1px solid
  margin-bottom 30px


#create-project-templates md-radio-button
  margin-left 0
  margin-bottom 20px

.projects-create-project-samples-list
  box-shadow none

.projects-create-project-samples
  padding-left 20px
