<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<!doctype html>
<html class="no-js" ng-app="userDashboard">
  <head>
    <meta charset="utf-8">
    <title ng-bind="branding.title">Loading Dashboard...</title>
    <meta name="description" content="">
    <base href="/">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" ng-href="{{branding.favicon}}">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->



    <!-- DO NOT ADD DIRECTLY CSS THERE -->
    <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" type="text/css" href="../bower_components/codemirror/addon/lint/lint.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/codemirror/addon/fold/foldgutter.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/ng-password-strength/dist/styles/main.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/material-design.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/codenvy-font.css">


    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body layout="row">
  <div ng-hide="hideLoader" class="main-page-loader">
      <div layout="column" class="main-page-loader-content">
        <img src="assets/images/loader-blue.svg" />
    </div>
  </div>
  <!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <md-sidenav class='ide-show not-visible' ng-hide="showIDE" ng-class="waitingLoaded ? 'md-sidenav-left md-whiteframe-z2 dark-menu-bg sidebar-entry' : 'not-visible'" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <cdvy-nav-bar id="codenvynavbar" ></cdvy-nav-bar>
  </md-sidenav>
  <div class="main-page ide-show" layout="column" role="main" tabindex="-1" flex ng-view ng-show="waitingLoaded && !showIDE">

  </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-37306001-1');ga('send','pageview');
    </script>

    <!-- Addons are not automatically injected -->

    <!-- DO NOT ADD DIRECTLY JS THERE, THIS IS AUTOMATICALLY ADDED -->
    <!-- build:js(src) scripts/vendor.js -->
    <script src="../bower_components/codemirror/lib/codemirror.js"></script>
    <script src="../bower_components/jsonlint/lib/jsonlint.js"></script>
    <script src="../bower_components/codemirror/addon/lint/lint.js"></script>
    <script src="../bower_components/codemirror/addon/lint/json-lint.js"></script>
    <script src="../bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="../bower_components/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="../bower_components/codemirror/addon/edit/closebrackets.js"></script>
    <script src="../bower_components/codemirror/addon/fold/foldcode.js"></script>
    <script src="../bower_components/codemirror/addon/fold/foldgutter.js"></script>
    <script src="../bower_components/codemirror/addon/fold/brace-fold.js"></script>
    <script src="../bower_components/codemirror/addon/selection/active-line.js"></script>
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
