@font-face {
	font-family: "codenvy";
	src: url('../fonts/codenvy.eot');
	src: url('../fonts/codenvy.eot?#iefix') format('eot'),
		url('../fonts/codenvy.woff') format('woff'),
		url('../fonts/codenvy.ttf') format('truetype'),
		url('../fonts/codenvy.svg#codenvy') format('svg');
}

.cdvyfont:before {
	font-family: "codenvy";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.cdvyico-README.MD:before {
	content: "\E001";
}

.cdvyico-administration:before {
	content: "\E002";
}

.cdvyico-icon-wkps:before {
	content: "\E003";
}

.cdvyico-rocket-cdvyfont:before {
	content: "\E004";
}

.cdvyico-type-blank:before {
	content: "\E005";
}

.cdvyico-type-cpp:before {
	content: "\E006";
}

.cdvyico-type-go:before {
	content: "\E007";
}

.cdvyico-type-java:before {
	content: "\E008";
}

.cdvyico-type-javascript:before {
	content: "\E009";
}

.cdvyico-type-php:before {
	content: "\E00A";
}

.cdvyico-type-python:before {
	content: "\E00B";
}

.cdvyico-type-ruby:before {
	content: "\E00C";
}
