<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->

<cdvy-panel cdvy-title="Upgrade" cdvy-panel-id="upgrade-your-installation-panel" cdvy-disabled="upgradeInstallationCtrl.isSectionDisabled()">
  <md-progress-linear md-mode="indeterminate"  ng-hide="upgradeInstallationCtrl.fetchAll" ></md-progress-linear>

  <div ng-show="upgradeInstallationCtrl.fetchAll">

    <div ng-show="upgradeInstallationCtrl.codenvyUpgradableArtifact">
      <cdvy-button-primary cdvy-button-title="Install {{upgradeInstallationCtrl.codenvyUpgradableArtifact.version}} Now" ng-click="upgradeInstallationCtrl.install(upgradeInstallationCtrl.codenvyUpgradableArtifact.version)" ng-disabled="upgradeInstallationCtrl.isSectionDisabled()"></cdvy-button-primary>
    </div>
    <div ng-hide="upgradeInstallationCtrl.codenvyUpgradableArtifact">
      Nothing to upgrade.
    </div>

    <!-- Removed because not implemented in IM -->
    <!--
    <div ng-form="onPremUpgradeScheduleForm" flex>
      <cdvy-input cdvy-form="onPremUpgradeScheduleForm"
                  cdvy-name="upgradeScheduleInput"
                  cdvy-label-name="Schedule Installation"
                  ng-model="upgradeInstallationCtrl.scheduleExpression">
      </cdvy-input>
      <cdvy-button-default cdvy-button-title="Save Schedule" ng-click="upgradeInstallationCtrl.saveSchedule()"></cdvy-button-default>
      <md-checkbox ng-model="upgradeInstallationCtrl.checkNewVersion">Check for new version before installing</md-checkbox>
    </div>
    <p>Upgrading may require a maintenance window up to 30 minutes. Minor releases either do not
       require a maintenance window or are a few minutes.</p>
    <p>Docs:<a href="" class="onprem-upgrade-installation-schedule-syntaxlink">Syntax for Scheduling Installation</a>.</p>
    -->
  </div>
</cdvy-panel>
