<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<cdvy-toolbar cdvy-title="All factories"
              cdvy-button-name="Create Factory"
              cdvy-button-href="#/factories/create-factory"></cdvy-toolbar>
<md-toolbar class="factories-list-header md-toolbar-tools" md-theme="toolbar-theme">
  <cdvy-search flex cdvy-placeholder="Search for factories"
               ng-model="listFactoriesCtrl.factoriesFilter.originFactory.name"></cdvy-search>
  <span flex></span>

  <div class="md-toolbar-item md-tools" layout="row">
    <i class="factories-list-factories-cog material-design icon-ic_filter_list_24px" dropdown-menu="listFactoriesCtrl.dropDownOptionsList"
       dropdown-model="listFactoriesCtrl.dropDownValue"
       dropdown-onchange="listFactoriesCtrl.dropDownSelected(selected, $event)"
       dropdown-item-label='name' cdvy-event-logger="factories/orderBy"></i>
  </div>
</md-toolbar>
<md-content layout="column" layout-fill class="factories-list-factories ng-scope md-maincontent-theme-theme">
  <md-progress-linear md-mode="indeterminate" class="factories-list-factories-progress"
                      ng-if="listFactoriesCtrl.isLoading"></md-progress-linear>
  <md-content flex class="md-maincontent-theme-theme" ng-show="!listFactoriesCtrl.isLoading"
    cdvy-list-on-scroll-bottom="listFactoriesCtrl.loadNextPage()">
    <div ng-if="listFactoriesCtrl.factories.length === 0" layout="row" layout-align="center center">
      <cdvy-empty-state cdvy-value="There are no factories yet."
                        cdvy-icon-class="cdvyfont cdvyico-rocket-cdvyfont icon"></cdvy-empty-state>
    </div>
    <div ng-if="listFactoriesCtrl.factories.length > 0">
      <div class="factories-list-notification">
      <span
        ng-show="(listFactoriesCtrl.factories | filter:listFactoriesCtrl.factoriesFilter).length === 0 && listFactoriesCtrl.factories.length > 0"
        class="factories-list-empty">No factories found</span>
      </div>
      <cdvy-list ng-show="(listFactoriesCtrl.factories | filter:listFactoriesCtrl.factoriesFilter).length > 0">
        <cdvy-factory-item
          ng-repeat="factory in listFactoriesCtrl.factories | filter:listFactoriesCtrl.factoriesFilter | orderBy:listFactoriesCtrl.factoriesOrderBy"
          cdvy-factory="factory" ng-model="listFactoriesCtrl.factoriesSelectedStatus[factory.originFactory.id]"/>
      </cdvy-list>
    </div>
  </md-content>
</md-content>
