
.create-project-progress-popup
  z-index 9999
  top 10px
  right 10px
  background-color white
  position absolute
  padding 10px 20px
  border-radius 3px
  width 550px

.create-project-progress-popup-title
  font-size 14px

.create-project-progress-popup-action
  color $default-dark-color
  font-size 14px
  font-weight bold

.create-project-progress-popup .cdvy-button
  min-width 180px

.create-project-progress-popup-percent
  color $default-dark-color
  font-size 14px
  text-align center
  font-weight bold

.create-project-progress-popup-icon
  width 52px
  height 52px
  fill $primary-color

.create-project-progress-popup-error
  color $error-color
