<!--

    Copyright (c) 2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<div class="create-project-progress-popup" ng-show="createProjectPopupCtrl.isShowPopup() && createProjectPopupCtrl.isCreateProjectInProgress()">
    <div class="create-project-progress-popup-content" flex layout="row">
            <div layout="column" class="create-project-progress-popup-info-column" flex="65">
                <div class="create-project-progress-popup-title">Creating project: {{createProjectPopupCtrl.getProject()}}</div>
                <div layout="row" layout-align="center center" flex>
                    <div flex="20"><md-icon md-svg-src="assets/images/loader.svg" class="create-project-progress-popup-icon" aria-label="loader"></md-icon></div>
                    <div class="create-project-progress-popup-percent" flex="15" layout-align="center center">{{createProjectPopupCtrl.getCurrentProgressStep() * 25}} %</div>
                    <div class="create-project-progress-popup-action" flex="65" layout-align="center center">{{createProjectPopupCtrl.getCreationSteps()[createProjectPopupCtrl.getCurrentProgressStep()].text}}</div>
                </div>
                <div class="create-project-progress-popup-error" ng-show="createProjectPopupCtrl.getCreationSteps()[createProjectPopupCtrl.getCurrentProgressStep()].hasError">Error !</div>
            </div>
            <div layout="column" layout-align="center center" flex="35">
                <cdvy-button-notice cdvy-button-title="Show More" ng-click="createProjectPopupCtrl.hidePopup()" href="#/create-project"></cdvy-button-notice>
                <cdvy-button-primary ng-show="createProjectPopupCtrl.getCurrentProgressStep() === (createProjectPopupCtrl.getCreationSteps().length - 1)" ng-click="createProjectPopupCtrl.hidePopup()" cdvy-button-title="Open in IDE" ng-href="#/ide/{{createProjectPopupCtrl.getWorkspaceOfProject()}}"></cdvy-button-primary>
            </div>
    </div>
</div>
