@import 'colors/codenvy-colors.styl'

.recipe-widget md-radio-button
  outline 0

.recipe-widget .cdvy-input,
.recipe-widget .cdvy-input + span,
.recipe-widget .cdvy-label-container
  margin-left 30px

.recipe-widget md-radio-button[aria-checked='true'] .md-label span
  color $radio-button-checked-color

.recipe-widget md-radio-button[aria-checked='true']
  margin-bottom 5px

.recipe-widget .cdvy-label-container .cdvy-input
  margin-left 0

.recipe-widget .workspace-info
  margin-top 45px

.recipe-widget .cdvy-label-container
  margin-bottom 0

div.recipe-widget md-radio-button
  margin-top 20px
  margin-bottom 25px

.recipe-widget-label
  margin-top 15px
  color $label-info-color

.recipe-editor
  margin-top 20px
  margin-left 30px
  margin-bottom 25px
  border 1px solid $list-separator-color
