<cdvy-box ng-if="dashboardOverviewCtrl.isSaasServiceAvailable">
  <div layout="row" layout-align="space-around start" flex ng-controller="BillingCtrl as billingCtrl">
    <div ng-if="dashboardOverviewCtrl.isSaasServiceAvailable" layout-align="center center" class="dashboard-overview-gbh">
      <div class="dashboard-overview-title" flex>Gigabyte Hours</div>
      <div class="dashboard-overview-number">{{billingCtrl.usedGBH}}</div>
      <div>GBH consumed this month {{billingCtrl.providedResources.prepaidAmount ? 'out of' : ''}}</div>
      <div class="dashboard-overview-consumed-separator"></div>
      <div ng-if="billingCtrl.isFreeAccount">{{billingCtrl.providedResources.freeAmount}} GBH free / month</div>
      <div ng-if="billingCtrl.providedResources.prepaidAmount">{{billingCtrl.providedResources.prepaidAmount + billingCtrl.providedResources.freeAmount}}
        GBH prepaid this month</div>
      <div ng-if="billingCtrl.isPayAsYouGo">
        <div>{{billingCtrl.providedResources.freeAmount}} GBH free / month</div>
        <div>+</div>
        <div>{{billingCtrl.chargedGBH}} GBH billable</div>
      </div>
    </div>


    <div ng-if="dashboardOverviewCtrl.isSaasServiceAvailable" layout-align="center center" class="dashboard-overview-charges" ng-controller="CreditcardCtrl as creditCardCtrl">
      <div class="dashboard-overview-title" flex>Charges</div>
      <div class="dashboard-overview-desc-add-card" ng-if="creditCardCtrl.creditCards.length == 0 && creditCardCtrl.loadedCreditCards">
        <div class="dashboard-overview-desc">Remove limits and get unlimited RAM with a Pay As You Go account by adding a credit card</div>
        <cdvy-button-warning cdvy-button-title="Add"
                             cdvy-button-icon="fa fa-credit-card"
                             tooltip="Remove limits by adding a credit card"
                             ng-click="dashboardOverviewCtrl.addCreditCard();">
        </cdvy-button-warning>
      </div>
      <div class="dashboard-overview-desc-last-invoice" ng-if="creditCardCtrl.creditCards.length > 0">
        <div ng-if="billingCtrl.invoices.length > 0">
          <div class="dashboard-overview-charges-total" ng-init="invoice = billingCtrl.invoices[0]">${{invoice.total}}</div>
        </div>
        <div class="dashboard-overview-charges-total-desc">Last invoice</div>
        <div ng-if="billingCtrl.invoices.length == 0">
          <div class="dashboard-overview-charges-total-desc">No invoice</div>
        </div>
      </div>
    </div>
  </div>

</cdvy-box>
